app:
  log:
    log_level: "INFO"
  general:
    # "evaluate", "normal" 
    execute_mode: "evaluate"
    llm:
      # base_url="http://156.35.95.18:11434",
      model_name: "qwen3:4b"
      request_timeout: 600.0
      # system_prompt: "Responde siempre en español"
      temperature: 0.3
    
  evaluation_config:
    questions_file_path: "dataset/questions/1-questions_persons.txt"
    prompts_file_path: "dataset/questions/prompts/1-questions_persons_prompts.txt"
    answers_file_path: "dataset/answers/1-questions_persons_answers.txt"
    results_folder_path: "results"
    reports_folder_path: "reports"
    
  data_processing:
    data_folder_path: "data"
    metadata_config:
      data_description: "Las actas de las reuniones de la comunidad de vecinos incluyen detalles sobre la fecha, la hora de inicio y fin, y el lugar de celebración. Además, se enumeran los asistentes y se presenta el orden del día."
      fields_info:
        - name: "fecha"
          type: "str"
          description: "Es la fecha en la que se celebró la reunión. Está en formato DD/MM/AAAA."
        - name: "num_asistentes"
          type: "int"
          description: "Es el número de asistentes a la reunión"
        - name: "lista_asistentes"
          type: "list"
          description: "Es la lista de nombres de los asistentes de la reunión."
        - name: "presidente"
          type: "str"
          description: "Es el nombre del presidente o presidenta de la reunión."
        - name: "secretario"
          type: "str"
          description: "Es el nombre del secretario o secretaria de la reunión."




      
    
  