app:
  log:
    log_level: "INFO"
  general:
    # "chat", "evaluate", "normal" 
    execute_mode: "evaluate"
    llm:
        # Puede no ser necesario, si no se indica el base_url, pues no se usa un server
        # use_server: true 
        base_url: "http://156.35.95.18:11434"
        
        model_name: "gemma3:12b"
        # embedding_model_name: "snowflake-arctic-embed2"
        request_timeout: 600.0
        system_prompt: "Responde siempre en español"
        temperature: 0
    keywords_extractor:
      type: multi_extractor
      extractors:
        - type: nlp
        - type: keybert
    
  evaluation_config:
    questions_file_path: "dataset/questions/1-questions_persons.txt"
    prompts_file_path: "dataset/questions/prompts/1-questions_persons_prompts.txt"
    answers_file_path: "dataset/answers/1-questions_persons_answers.txt"
    results_folder_path: "results"
    reports_folder_path: "reports"
    
  data_processing:
    data_folder_path: "data"
    metadata_config:
      data_description: "Las actas de las reuniones de la comunidad de vecinos incluyen detalles sobre la fecha, la hora de inicio y fin, y el lugar de celebración. Además, se enumeran los asistentes y se presenta el orden del día."
      fields_info:
        - name: "fecha"
          type: "str"
          description: "Es la fecha en la que se celebró la reunión. Está en formato DD/MM/AAAA."
        - name: "num_asistentes"
          type: "int"
          description: "Es el número de asistentes a la reunión"
        - name: "lista_asistentes"
          type: "list"
          description: "Es la lista de nombres de los asistentes de la reunión."
        - name: "presidente"
          type: "str"
          description: "Es el nombre del presidente o presidenta de la reunión."
        - name: "secretario"
          type: "str"
          description: "Es el nombre del secretorio o secretaria de la reunión."
    chunks_config:
      chunk_size: 512
      chunk_overlap: 0

  workflow:
    - step:
      id: "filter_documents"
      steps:
        - step:
          id: "get_person_name_from_query"
          prompt: |
            Extrae el nombre completo (nombre y apellidos) de la persona mencionada en la siguiente consulta. Si no se menciona ninguna persona, devuelve "None".

            Devuelve el resultado en formato JSON con la clave "persona", siguiendo exactamente esta estructura:

            {{"persona": "nombre y apellidos de la persona"}}
              o
            {{"persona": "None"}}

            CONSULTA: {query}
          json_output: True
          output: name_obj

        - step:
          id: "get_date_from_query"
          prompt: |
            Extrae la fecha mencionada en la siguiente consulta en formato DD/MM/AAAA. Si no se menciona ninguna fecha, devuelve "None".

            Si la fecha está incompleta, utiliza "%" para el día, el mes o el año faltante. Por ejemplo:
            - Si solo se menciona "junio de 2023", devuelve: {{"fecha": "%/06/2023"}}
            - Si solo se menciona "2022", devuelve: {{"fecha": "%/%/2022"}}

            Devuelve el resultado en formato JSON con la clave "fecha", siguiendo exactamente una de estas dos estructuras:

            {{"fecha": "DD/MM/AAAA"}}
            o
            {{"fecha": "None"}}

            CONSULTA: {query}
          json_output: True
          output: date_obj

        - step:
          id: "check_filters"
          condition: name_obj["persona"] and name_obj["persona"] != "None" or date_obj["fecha"] and date_obj["fecha"] != "None"
          if_true:
            - step:
              id: "apply_filters"
              foreach: documents
              filter_by: name_obj["persona"] in documents.metadata["lista_asistentes"] and documents.metadata["fecha"] == name_obj["fecha"]
              output: filtered_docs
            - step:
              id: "check_number_documents"
              condition: len(filtered_)
          if_false:


    - step:
      id: ""
    - step:
      id: ""




      
    
  